{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<h1>
		Bienvenue sur la page d'accueil !
	</h1>
	{% include "footer.html.twig" %}
{% endblock %}
