# Ignorer le répertoire de cache de Composer
/vendor

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de configuration spécifiques à l'environnement local
/.env.local
/.env.*.local

# Ignorer les fichiers temporaires et de système
.DS_Store
Thumbs.db
*.tmp

# Ignorer les fichiers de tests
/tests
/tests/*
!tests/phpunit.xml.dist  # Garde la configuration PHPUnit si nécessaire

# Ignorer les fichiers de configuration IDE
/.idea
/.vscode

# Ignorer les fichiers générés par Symfony
/var
/public/bundles
/public/assets
/public/uploads

# Ignorer les fichiers de documentation
/documentation
