{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<ul>
		{% if theme %}
			<li>
				<h2>{{ theme.name }}</h2>
			</li>
		{% else %}
			<p>Ce theme n'est pas disponible</p>
		{% endif %}


	</ul>


{% endblock %}
