{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Hello World !</h1>
	</div>
	{% for user in users %}
		<ul>
			<li>{{user.email}}</li>
		</ul>
	{% endfor %}
{% endblock %}
