header {
  border-bottom: solid 1px #384050;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 20px;
}

li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #00497c;
  text-transform: uppercase;
}

.nav-list a:hover {
  color: #82b864;
  text-decoration: underline;
}

.logout {
  color: #cd2c2e;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px #384050 solid;
}

h1 {
  margin: 50px 0 30px 0;
}

b {
  color: #82b864;
  text-transform: uppercase;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.home button {
  width: 80px;
  height: 40px;
  color: #f1f8fc;
  background-color: #82b864;
  border: #f1f8fc solid 2px;
  border-radius: 50%;
}

button {
  width: 100px;
  height: 40px;
  color: #f1f8fc;
  background-color: #0074c7;
  border: #00497c solid 2px;
}
