{% extends "base.html.twig" %}

{% block body %}

	<footer>

		<ul>
			<li>
				<h3>Knowledge-Learning</h3>
			</li>
			<li>
				<p>Contact</p>
			</li>
			<li>
				<p>Adresse</p>
			</li>
			<li>
				<p>Cours</p>
			</li>
			<li>
				<p>FAQ</p>
			</li>
		</ul>

	</footer>

{% endblock %}
