{% extends 'base.html.twig' %}

{% block title %}Hello CursusController!
{% endblock %}

{% block body %}
	{% include "header.html.twig" %}
	<ul>
		{% for cursus in theme.cursus %}
			<li>
				<h2>{{ cursus.name }}</h2>
				<p>Prix:
					{{ cursus.price }}
					€</p>
				<a href="{{path('app_lesson', {'id':cursus.id}) }}">
					<button>Voir les leçons</button>
				</a>
			</li>

		{% endfor %}
	</ul>

	{% include "footer.html.twig" %}

{% endblock %}
