{% extends 'base.html.twig' %}

{% block title %}Hello CursusController!
{% endblock %}

{% block body %}
	<ul>
		{% for cursus in cursus %}
			<li>
				<h2>{{ cursus.name }}</h2>
				<p>Prix:
					{{ cursus.price }}
					€</p>
				<h3>Leçons :</h3>
				<ul>
					{% for lesson in cursus.lessons %}
						<li>{{ lesson.name }}
							(Prix:
							{{ lesson.price }}
							€)</li>
					{% else %}
						<li>Aucune leçon disponible</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li>Aucun cursus disponible</li>
		{% endfor %}
	</ul>


{% endblock %}
