{% extends 'base.html.twig' %}

{% block title %}Hello CursusController!
{% endblock %}

{% block body %}
	<ul>
		{% for lesson in cursus.lessons %}
			<li>
				<h2>{{ lesson.name }}</h2>
				<p>Prix:
					{{ lesson.price }}
					€</p>
				<a href="{{path('app_one_lesson', {'id':lesson.id}) }}">
					<button>Voir la leçon</button>
				</a>
			</li>

		{% endfor %}
	</ul>


{% endblock %}
