{% extends 'base.html.twig' %}

{% block title %}Hello CursusController!
{% endblock %}

{% block body %}
{% include "header.html.twig" %}
<ul>
	{% for lesson in cursus.lessons %}
		<li class="lesson-list-item">
			<h2>{{ lesson.name }}</h2>
			<p class="price">Prix:
				{{ lesson.price }}
				€</p>
			<div>
				<a href="{{path('app_one_lesson', {'id':lesson.id}) }}">
					<button>Commencer le cours</button>
				</a>
				<a href="">
					<button class="btn-danger">Acheter la leçon</button>
				</a>
			</li>
		</li>
	</div>
</li>{% endfor %}</ul>{% include "footer.html.twig" %}{% endblock %}
