{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<ul>
		{% if lesson %}

			<h2>Lorem ipsum dolor sit amet.</h2>
			<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<video controls width="250">
				<source src="/media/cc0-videos/flower.webm" type="video/webm"/>
			</video>
		{% else %}
			<p>Cette leçon n'est pas disponible</p>
		{% endif %}
	</ul>


{% endblock %}
